#
# {{ ansible_managed }}
#

{{ bsf_log_folder }}/{{ ansible_hostname }}_telegraf-metrics.log {
    su root adm
    daily
    rotate 180
    compress
    missingok
    notifempty
   # create 640 root adm
    postrotate
       /bin/systemctl reload telegraf > /dev/null
    endscript
}
