[global_tags]
[agent]
  interval = "60s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = ""
  hostname = ""
  omit_hostname = false
[[outputs.file]]
  files = ["{{ bsf_log_folder }}/{{ ansible_hostname }}_telegraf-metrics.log"]
  data_format = "graphite"
  prefix = "nodes.{{ hotspot_name }}"
[[inputs.cpu]]
  percpu = false
  totalcpu = true
  collect_cpu_time = false
  report_active = false
[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
[[inputs.diskio]]
[[inputs.filestat]]
  files = ["/var/log/syslog","/var/log/kern.log","{{ bsf_log_folder }}/{{ ansible_hostname }}_telegraf-metrics.log"]
  md5 = false
[[inputs.mem]]
[[inputs.nginx]]
  urls = ["http://localhost:1081/server_status"]
  response_timeout = "5s"
[[inputs.swap]]
[[inputs.system]]
