[Unit]
Description=External KoomBook hard drive

[Mount]
What=/dev/sda1
Where=/media/hdd
Type=ext4
Options=noatime,nofail

[Install]
WantedBy=basic.target