[Unit]
Description=Montage répertoire de log
After=media-hdd.mount

[Mount]
What=/media/hdd/bsf/log
Where=/var/log
Type=ext4
Options=bind

[Install]
WantedBy=timers.target