[Unit]
Description=Mount log folder
After=media-hdd.mount

[Mount]
What=/media/hdd/bsf/log
Where=/var/log
Type=ext4
Options=bind

[Install]
WantedBy=basic.target