Name = {{ ansible_hostname }}
AddressFamily = {% if ansible_default_ipv6.address is defined and ansible_default_ipv4.address is defined %}any{%else if ansible_default_ipv6.address is defined %}ipv6{% else %}ipv4{% endif %}
Interface = {% if vpn_interface is defined %}{{ vpn_interface }}{% else %}tun0{% endif %}

ConnectTo = bigmama
ConnectTo = buildbot
