[Unit]
Description=Kolibri server

[Service]
User=ideascube
Group=ideascube
WorkingDirectory=/home/ideascube
RemainAfterExit=yes
Type=oneshot
ExecStart=/home/ideascube/.kolibri/env/bin/python2 /home/ideascube/.kolibri/env/bin/kolibri start
ExecStop=/home/ideascube/.kolibri/env/bin/python2 /home/ideascube/.kolibri/env/bin/kolibri stop
TimeoutStopSec=60
PIDFile=/var/run/kolibri.pid
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
