port = 5000

class Config(object):
    SECRET_KEY = 'YTTRYTFdez576576HGFytfytfzytfzyy76677' # Use e.g. http://randomkeygen.com/
    MONGODB_DB = '{{mook_name}}'
    CORS_ORIGINS = ['http://{{mook_front_server_name}}']
    ## Local servers only:
    CENTRAL_SERVER_HOST = '{{central_server_host}}'
    UPLOAD_FILES_PATH = "{{ mook_path }}/{{ mook_name }}/static/"
    UPLOAD_FILES_URL = "http://{{mook_api_server_name}}/static/"
