127.0.0.1   localhost {{ idc_uniq_device_name |replace("_", "-") }} {{ hostname }} kiwix.{{ hostname }} khanacademy.{{ hostname }} sites.{{ hostname }} kolibri.{{ hostname }}
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
192.168.2.1 {{ idc_uniq_device_name |replace("_", "-") }} {{ hostname }} kiwix.{{ hostname }} khanacademy.{{ hostname }} sites.{{ hostname }} bsfcampus.{{ hostname }} koombookedu.{{ hostname }} kolibri.{{ hostname }}
