---
- name: Install iptables
  apt: name=iptables state=latest

- name: Authorize NAT
  replace: dest=/etc/sysctl.conf regexp='^#net.ipv4.ip_forward=1$' replace='net.ipv4.ip_forward=1' backup=yes

- name: Copy iptables rules file
  copy: src=iptables.rules dest=/etc/iptables.rules owner=root group=root mode=755 backup=yes

- name: Copy iptables restore file
  copy: src=iptables dest=/etc/network/if-up.d/iptables owner=root group=root mode=755

- name: Reload sysctl conf
  command: sysctl -p

- tasks:
  include: ../../../post_tasks.yml task=iptables version=0.1