---
- name: Install iptables
  apt: name=iptables state=latest
  tags: 
    - master

- name: Authorize NAT
  replace: dest=/etc/sysctl.conf regexp='^#net.ipv4.ip_forward=1$' replace='net.ipv4.ip_forward=1' backup=yes
  tags: 
    - master

- name: Copy iptables rules file
  copy: src=iptables.rules dest=/etc/iptables.rules owner=root group=root mode=755 backup=yes
  tags: ['master', 'custom', 'update']

- name: Copy iptables restore file
  copy: src=iptables dest=/etc/network/if-up.d/iptables owner=root group=root mode=755
  tags: 
    - master

- name: Reload sysctl conf
  command: sysctl -p
  tags: 
    - master