#!/bin/bash

## Get IP from tinc interface
IP_ADDR=`ip a show {{ vpn_name2 }} | grep inet | awk '{print $2}' | cut -d/ -f1`

## Generate MAC based on hostname
export TINC_MAC=`hostname|md5sum|sed 's/^\(..\)\(..\)\(..\)\(..\)\(..\).*$/02:\1:\2:\3:\4:\5/'`

cat <<EOF
{
    "vpn_ip" : "$IP_ADDR"
}
{
    "tinc_if_mac" : "$TINC_MAC"
}
EOF
