Name = {{ tinc_localhost_name }}
AddressFamily = ipv4
Interface = {% if vpn_interface is defined %}{{ vpn_interface }}{% else %}tun1{% endif %}

BindToAddress = * 656
Mode = switch

ConnectTo = tincmaster
