Name = {{ tinc_localhost_name }}
AddressFamily = ipv4
Interface = {% if vpn_interface is defined %}{{ vpn_interface }}{% else %}tun1{% endif %}

BindToAddress = * {{ vpn_port }}
Mode = switch

ConnectTo = {{ vpn_master_server }}
