#!/bin/bash

IF=$1
STATUS=$2
PROC=`pgrep ansible-pull`

if [[ "$IF" == eth* || "$IF" == "wlan1" ]] && [ -z "$PROC"  ]
then
    case "$STATUS" in
        up)
        	sleep 120 && /usr/local/bin/ansible-pull -d /var/lib/ansible/local -i hosts -U https://github.com/ideascube/ansiblecube.git update_{{ ideascube_id }}.yml --extra-vars "use_hdd={{use_hdd}} sync_log=True ideascube_id={{ ideascube_id }}" >> /var/log/ansible-pull.log 2>&1
        ;;
        *)
        ;;
    esac

    status=$(tail -3 /var/log/ansible-pull.log)
    device_hostname=$(hostname)

    case $status in
        *"failed=1"*)
            wget http://report.bsf-intranet.org/device=$device_hostname/ansiblepull=fail > /dev/null 2>&1
        ;;
        *"failed=0"*)
            wget http://report.bsf-intranet.org/device=$device_hostname/ansiblepull=success > /dev/null 2>&1
        ;;
        *"Local modifications exist in repository"*)
            wget http://report.bsf-intranet.org/device=$device_hostname/ansiblepull=modificationExist > /dev/null 2>&1
        ;;
    esac
fi
