#!/bin/sh

# Vider les tables actuelles
iptables -t filter -F
iptables -F
iptables -X
iptables -t nat -F
iptables -t nat -X
iptables -t mangle -F
iptables -t mangle -X

# Vider les règles personnelles
iptables -t filter -X

# Interdire toute connexion entrante et sortante
iptables -t filter -P INPUT DROP
iptables -t filter -P FORWARD DROP
iptables -t filter -P OUTPUT DROP

# ---

# Ne pas casser les connexions etablies
iptables -A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# Autoriser loopback
iptables -t filter -A INPUT -i lo -j ACCEPT
iptables -t filter -A OUTPUT -o lo -j ACCEPT

# ICMP (Ping)
iptables -t filter -A INPUT -p icmp -j ACCEPT
iptables -t filter -A OUTPUT -p icmp -j ACCEPT

# ---

# DNS In/Out
iptables -t filter -A OUTPUT -p tcp --dport 53 -j ACCEPT
iptables -t filter -A OUTPUT -p udp --dport 53 -j ACCEPT
iptables -t filter -A INPUT -p tcp --dport 53 -j ACCEPT
iptables -t filter -A INPUT -p udp --dport 53 -j ACCEPT

#Boot TP/PS for Hostapd
iptables -t filter -A OUTPUT -p tcp --dport 67 -j ACCEPT
iptables -t filter -A OUTPUT -p udp --dport 67 -j ACCEPT
iptables -t filter -A INPUT -p tcp --dport 67 -j ACCEPT
iptables -t filter -A INPUT -p udp --dport 67 -j ACCEPT
iptables -t filter -A OUTPUT -p tcp --dport 68 -j ACCEPT
iptables -t filter -A OUTPUT -p udp --dport 68 -j ACCEPT
iptables -t filter -A INPUT -p tcp --dport 68 -j ACCEPT
iptables -t filter -A INPUT -p udp --dport 68 -j ACCEPT

# NTP Out
iptables -t filter -A OUTPUT -p udp --dport 123 -j ACCEPT

# HTTP + HTTPS Out
iptables -t filter -A OUTPUT -p tcp --dport 80 -j ACCEPT
iptables -t filter -A OUTPUT -p tcp --dport 443 -j ACCEPT

# HTTP + HTTPS In
iptables -t filter -A INPUT -p tcp --dport 80 -j ACCEPT
iptables -t filter -A INPUT -p tcp --dport 443 -j ACCEPT

# apt-get
iptables -t filter -A OUTPUT -p tcp --dport 80 -m state --state NEW,ESTABISHED -j ACCEPT
iptables -t filter -A INPUT -p tcp --dport 80 -m state --state ESTABLISHED -j ACCEPT

# bloquage de requette w00tw00t
iptables -t filter -I INPUT -i {{lan_interface}} -p tcp --dport 80 -m string --to 70 --algo bm --string 'GET /w00tw00t.at.' -j DROP
iptables -t filter -I INPUT -i {{client_interface}} -p tcp --dport 80 -m string --to 70 --algo bm --string 'GET /w00tw00t.at.' -j DROP
iptables -t filter -I INPUT -i {{hotspot_interface}} -p tcp --dport 80 -m string --to 70 --algo bm --string 'GET /w00tw00t.at.' -j DROP

# bloquage de la majorite des attaques par scanner d'addresse
iptables -t filter -I INPUT -i {{lan_interface}} -p tcp --dport 80 -m string --to 700 --algo bm --string 'Host: 192.168.2.1' -j DROP
iptables -t filter -I INPUT -i {{client_interface}} -p tcp --dport 80 -m string --to 700 --algo bm --string 'Host: 192.168.2.1' -j DROP
iptables -t filter -I INPUT -i {{hotspot_interface}} -p tcp --dport 80 -m string --to 700 --algo bm --string 'Host: 192.168.2.1' -j DROP

# Active l'accès à Internet via le KoomBook si celui-ci est connecté
iptables -t filter -t nat -A POSTROUTING -o {{lan_interface}} -j MASQUERADE
iptables -t filter -t nat -A POSTROUTING -o {{client_interface}} -j MASQUERADE

# Forward HTTP
iptables -t filter -A FORWARD -i {{lan_interface}} -o {{hotspot_interface}} -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -t filter -A FORWARD -i {{hotspot_interface}} -o {{lan_interface}} -j ACCEPT

iptables -t filter -A FORWARD -i {{lan_interface}} -o {{client_interface}} -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -t filter -A FORWARD -i {{client_interface}} -o {{lan_interface}} -j ACCEPT