#!/usr/bin/python
import subprocess
import thread
import time

def allow_host(ipaddress):

##	Wait for 10s (tablets/phone tend to do requests frequently, so bypassing this captive portal) before allowing them.
        time.sleep(10)
	cmd = "sudo iptables -t nat -I CAPTIVE_PASSLIST 1 -s {ip} -j ACCEPT".format(ip=ipaddress)
	subprocess.check_output(cmd, shell=True)

def application(environ, start_response):
        start_response('200 OK', [('Content-Type', 'text/html')])

## Send HTML redirect to forward user to ideasbox.lan/koombook.lan

        html = """<html><head><meta http-equiv="refresh" content="0; URL='http://{{hostname}}'" />Going to http://{{hostname}}</head></html>"""

## Starting thread to have async behavior, so we are sure HTML redirect is sent long before iptables rule is actually inserted.
        thread.start_new_thread(allow_host, (environ['REMOTE_ADDR'],))
        return html
