[global]
workgroup = WORKGROUP
server string = Samba Server %v
netbios name = {{ansible_hostname}}
security = user
map to guest = bad user
dns proxy = no
wins support = yes

#============================ Share Definitions ==============================

[storage]
path = "/srv/"
browsable =yes
writable = yes
guest ok = yes
read only = yes
force user = nobody
