[global]
workgroup = WORKGROUP
server string = Samba Server %v
netbios name = {{ hostname }}
security = user
map to guest = bad user
dns proxy = no

#============================ Share Definitions ==============================

[{{ansible_hostname}}]
path = "/srv/"
browsable =yes
writable = yes
guest ok = yes
read only = yes
force user = nobody
