#!/bin/bash
/home/ideascube/hdw_info.sh

rsync -azP -e 'ssh -p 443' /var/log/nginx/* /var/log/kern.log /var/log/messages /var/log/syslog /var/log/ansible-pull.log /tmp/hdw_info.txt  {{ central_server }}:/ansible/logs/{{ ansible_hostname }}/