---
- name: Install conntrack
  apt: name={{item}} state=latest
  with_items:
    - conntrack
    - uwsgi-plugin-python
  tags: ['custom', 'update']

- name: Create /var/www/captiveportal folder
  file:
    path: /var/www/captiveportal
    owner: ideascube
    group: ideascube
    mode: 0644
    state: directory
  tags: ['custom', 'update']
  
- name: Copy captive portal script to /var/www/captiveportal
  template:
    src: cap.py.j2
    dest: /var/www/captiveportal/cap.py
    owner: ideascube
    group: ideascube
    mode: 0755
  tags: ['custom', 'update']

- name: Add nginx specific configuration file
  copy:
    src: nginx-captiveportal
    dest: /etc/nginx/sites-available/captiveportal
    owner: root
    group: root
    mode: 0644
  tags: ['custom', 'update']

- name: Enable captive portal vhost
  file: src=/etc/nginx/sites-available/captiveportal dest=/etc/nginx/sites-enabled/captiveportal state=link
  notify: restart nginx
  tags: ['custom', 'update']

- name: Create /etc/nginx/ssl folder
  file:
    path: /etc/nginx/ssl
    owner: root
    group: root
    mode: 0644
    state: directory
  tags: ['custom', 'update']

- name: Copy captive portal public key
  copy: 
    src: ideascube.crt
    dest: /etc/nginx/ssl/ideascube.crt
    owner: root
    group: root
    mode: 0644
  notify: restart nginx
  tags: ['custom', 'update']

- name: Copy captive portal private key
  copy:
    src: ideascube.key
    dest: /etc/nginx/ssl/ideascube.key
    owner: root
    group: root
    mode: 0640
  notify: restart nginx
  tags: ['custom', 'update']

- name: Add UWSGI specific configuration file
  copy:
    src: captive.ini
    dest: /etc/uwsgi/apps-available/captive.ini
    owner: root
    group: root
    mode: 0644
  tags: ['custom', 'update']

- name: Enable captive.ini for UWSGI
  file: src=/etc/uwsgi/apps-available/captive.ini dest=/etc/uwsgi/apps-enabled/captive.ini state=link
  notify: restart uwsgi
  tags: ['custom', 'update']

- name: Copy clear_iptables.sh to /usr/bin/local
  copy:
    src: clear_iptables.sh
    dest: /usr/local/bin/clean_iptables.sh
    owner: root
    group: root
    mode: 0755
  tags: ['custom', 'update']

- name: Add a cron entry to clean iptables rules
  cron:
    name: "Clear dead connections from CAPTIVE_PASSLIST"
    minute: "*/5"
    job: "/usr/local/bin/clean_iptables.sh"
    state: present
  tags: ['custom', 'update']
