---
- name: Check if captive portal is already installed
  stat: path=/var/www/captiveportal
  register: cap_on
  tags: ['custom', 'update']

- include: enabled.yml
  when: {{ ansible_local.device_list[generic_project_name].portal.activated | default(False) |bool }} == True
  tags: ['custom', 'update']

- include: disabled.yml
  when: {{ ansible_local.device_list[generic_project_name].portal.activated | default(False) |bool }} == False
    and cap_on.stat.exists == True
  tags: ['custom', 'update']
