#!/bin/sh

# Author: Foundation for Learning Equality
#
# /etc/init.d/kalite

### BEGIN INIT INFO
# Provides:          kalite
# Required-Start:    $local_fs $remote_fs $network $syslog $named
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: ka-lite daemon, a local Khan Academy content server
### END INIT INFO

set -e

PATH=/bin:/usr/bin:/sbin:/usr/sbin

. /lib/lsb/init-functions

case "$1" in
  start)
    # run ka-lite as another user, the one who generated this file
    su {{ username }} -s /bin/sh -c "rm -f /home/{{ username }}/.kalite/kalite_startup.lock"
    su {{ username }} -s /bin/sh -c "kalite start"
    ;;
  stop)
    su {{ username }} -s /bin/sh -c "kalite stop"
    ;;
  restart)
    su {{ username }} -s /bin/sh -c "kalite stop"
    su {{ username }} -s /bin/sh -c "kalite start"
    ;;
  status)
    su {{ username }} -s /bin/sh -c "kalite status"
    ;;
  *)
    log_success_msg "Usage: /etc/init.d/kalite {start|stop|restart|status}"
    exit 1
esac
