---
- name: Download catalog file 
  get_url: url=http://www.daitauha.fr/static/kiwix.yml
    dest="{{zim_path}}/kiwix.yml"

- name: copy update sha256sum script
  copy: src=update_sha256sum.py dest={{zim_path}}/update_sha256sum.py

- name: Copy update_catalog_db.sh file
  template: src=update_catalog_db.sh.j2 dest={{zim_path}}/update_catalog_db.sh mode=0755

- name: Create a fake archive from available zim
  command: "{{zim_path}}/update_catalog_db.sh"

- name: Update sha256sum
  command: /usr/bin/python update_sha256sum.py /var/cache/ideascube/catalog/packages/ chdir={{zim_path}}

- name: Move catalog.yml to the final path 
  command: mv "{{zim_path}}/catalog.yml" /var/cache/ideascube/catalog/

- name: Give rights to ideascube on Kiwix folder
  file: path=/var/ideascube/kiwix/ state=directory
    owner={{ username }} group={{ username }} recurse=yes

- name: Give rights to ideascube on cache folder
  file: path=/var/cache/ideascube/ state=directory
    owner={{ username }} group={{ username }} recurse=yes

- name: Get the content of list.txt
  shell: cat "{{zim_path}}/list.txt" ; echo
  register: zim_list

- name: Install zim file with ideascube catalog 
  become: yes
  become_user: ideascube
  command: ideascube catalog install {{item}} chdir={{zim_path}}
  with_items: "{{ zim_list.stdout_lines | default(omit) }}"