[Unit]
Description=Delete ideascube staticfiles.json if empty
RefuseManualStart=no
RefuseManualStop=yes
 
[Service]
Type=oneshot
ExecStart=/usr/local/bin/remove_staticfiles_json.sh
