; =======
; EXEMPLE
; =======
; [my_server_hostname]
; Uncommented : Activated
; kalite=True
; kalite_version=0.15.0
; kalite_lang=fr
; 
; Commented : deactivated 
; tinc_static=True
; 
; zim_install=True
; zim_install_name="universcience-tv.fr"
; 
; mongodb=True
; 
; bsfcampus=True
; 
; koombookedu=True
; 
; ideascube=True
; ideascube_version=0.9.3
; 
; updateMook=True
; updateMook_name=bsfcampus
; updateMook_version=100516
;
; appinventor=True
; appinventor_version=070915
;
; idc_import=True
; idc_import_content_name="15_logiciel_libre/content.csv"

; =========================================
; WARNING : DO NOT REMOVE ANY OF THIS ENTRY
; =========================================
[idb_bdi_bwagiriza]

[idb_bdi_kavumu]

[idb_bdi_makamba]

[idb_bdi_musasa]
kalite=True
kalite_version=0.15.0
kalite_lang=fr

;zim_install=True
;zim_install_name="universcience-tv.fr"

;mongodb=True

;bsfcampus=True

[idb_eth_bokolmanyo]

[idb_eth_melkadida]

[idb_fra_eurore]

[idb_fra_calais]

[idb_grc_athenes]

[idb_grc_lesbos]

[idb_jor_alhashmi]

[idb_lwb_detroit_usa]

[kb_bdi_tv5monde]

[kb_bsfcampus_civ]
upgradeIdc=True
upgradeIdc_version=0.9.3

updateMook=True
updateMook_name=bsfcampus
updateMook_version=090316

[kb_bsfcampus_cmr]
upgradeIdc=True
upgradeIdc_version=0.9.3

updateMook=True
updateMook_name=bsfcampus
updateMook_version=090316

[kb_bsfcampus_sen]
upgradeIdc=True
upgradeIdc_version=0.9.3

updateMook=True
updateMook_name=bsfcampus
updateMook_version=090316

[kb_cdf_fra]
upgradeIdc=True
upgradeIdc_version=0.9.3

[kb_eth_kytabu]

[kb-gin-conakry]
kalite=True
kalite_version=0.15.0
kalite_lang=fr

zim_install=True
zim_install_name=""
;zim_install_name="wikipedia.fr cest-pas-sorcier.fr gutenberg.fr tedxgeneva2014.fr universcience-tv.fr tedxlausanne2012.fr tedxlausanne2013.fr tedxlausanne2014.fr"

mongodb=True

bsfcampus=True
bsfcampus_version=100516

koombookedu=True
koombookedu_version=100516

[kb_ifb_bdi]
upgradeIdc=True
upgradeIdc_version=0.9.3

[kb_mooc_cog]
ideascube=True
ideascube_version=0.9.3

[kb_rca_alliancefrancaise]

[kb_servir_ben]
upgradeIdc=True
upgradeIdc_version=0.9.3