[uwsgi]
uid=ideascube
gid=ideascube

chdir  = {{ mook_path }}/{{ mook_name }}/api 
module = wsgi_local:application

master = true
processes = 5

socket = /tmp/{{ mook_name }}-api.sock
chmod-socket = 666
vacuum = true

catch-exceptions = true

die-on-term = true