---

- name: restart tinc
  service: >
    name=tinc
    state=restarted

- name: reload tinc
  shell: pkill --signal HUP tincd
  ignore_errors: yes

#
# chain multiple notify so our handler can perform multiple tasks.
#
- name: Announce MAC
  irc:
    port: 6667
    server: "irc.freenode.net"
    channel: "#ideascube"
    msg: "Hi, my name is {{ tinc_localhost_name }} (from {{ tinc_if_mac.stdout }}) and I'd like you to join my professional network on {{ vpn_name }}. Wonder what is my IP? Me too."
    color: none
    nick: "{{ tinc_localhost_name }}"
  changed_when: true
  ignore_errors: yes
