#!/bin/bash
IF=$1
STATUS=$2

if [[ "$IF" == "eth0" || "$IF" == "{{client_interface}}" ]]
then
    case "$STATUS" in
        up)
            if [[ `ping -q -c 2 koombook-doctor.local` ]]
            then
                kb_doctor_ip=`avahi-resolve-host-name koombook-doctor.local | awk -F " " '{print $2}'`
                if [ -z "$(grep "koombook-doctor.local" /etc/hosts)" ]
                then
                    echo "$kb_doctor_ip" koombook-doctor.local download.kiwix.org packages.ideascube.org >> /etc/hosts
                fi
            fi
        ;;
        down)
            if [ -n "$(grep "koombook-doctor.local" /etc/hosts)" ]
            then
                    sed -i "/koombook-doctor.local/d" /etc/hosts
            fi
        ;;
        *)
        ;;
    esac
fi
