#!/bin/bash

IF=$1
STATUS=$2
PROC=`pgrep ansible-pull`

if [[ "$IF" == eth* || "$IF" == "wlan1" ]] && [ -z "$PROC"  ]
then
    case "$STATUS" in
        up)
            {% if ansible_architecture == "armv7l" %}echo default-on >/sys/class/leds/a20-olinuxino-lime2:green:usr/trigger{% endif %}

            /usr/local/bin/ansible-pull -o -s 120 -C oneUpdateFile -d /var/lib/ansible/local -i hosts -U https://github.com/ideascube/ansiblecube.git main.yml --tags "update" >> /var/log/ansible-pull.log 2>&1
            {% if ansible_architecture == "armv7l" %}echo heartbeat >/sys/class/leds/a20-olinuxino-lime2:green:usr/trigger{% endif %}
            
        ;;
        *)
        ;;
    esac
fi
