#!/bin/bash

IF=$1
STATUS=$2
PROC=`pgrep ansible-pull`

WGET='wget --user-agent=ansible-pull'

if [[ "$IF" == eth* || "$IF" == "wlan1" ]] && [ -z "$PROC"  ]
then
    case "$STATUS" in
        up)
			/usr/local/bin/ansible-pull {% if ansible_default_ipv4.gateway != bsf_gateway %}-o{% endif %} -s 120 -C oneUpdateFile -d /var/lib/ansible/local -i hosts -U https://github.com/ideascube/ansiblecube.git main.yml --tags "update" >> /var/log/ansible-pull.log 2>&1
        ;;
        *)
            exit 0;
        ;;
    esac

    status=$(tail -3 /var/log/ansible-pull.log)
    description=$(grep TASK /var/log/ansible-pull.log | sed -n '$p' | cut -d "[" -f 2 | sed 's/*//g' | sed 's/ /_/g')
    device_hostname=$(hostname)

    case $status in
        *"failed=1"*)
            $WGET http://report.bsf-intranet.org/device=$device_hostname/ansiblepull=fail/msg="$description" > /dev/null 2>&1
        ;;
        *"failed=0"*)
            $WGET http://report.bsf-intranet.org/device=$device_hostname/ansiblepull=success > /dev/null 2>&1
        ;;
        *"Local modifications exist in repository"*)
            $WGET http://report.bsf-intranet.org/device=$device_hostname/ansiblepull=modificationExist > /dev/null 2>&1
        ;;
        *)
            exit 0;
        ;;
    esac
fi
