#!/bin/bash

IF=$1
STATUS=$2

if [ "$IF" == "eth0" ] || [ "$IF" == "wlan1" ]
then
    case "$STATUS" in
        up)
			sleep 120 && /usr/local/bin/ansible-pull -d /var/lib/ansible/local -i hosts -U https://github.com/ideascube/ansiblecube.git update_{{ ideascube_project_name }}.yml --extra-vars "use_hdd={{use_hdd}} sync_log={{sync_log}} ideascube_project_name={{ideascube_project_name}}" >> /var/log/ansible-pull.log 2>&1 &
        ;;
        *)
        ;;
    esac
fi