---
- include_vars: group_vars/{{ ansible_architecture }}.yml
  tags: ['master', 'custom']

- name: Install dnsmasq
  apt: name=dnsmasq state=latest
  tags: 
    - master

- name: Copy dnsmasq.conf file
  template: src=dnsmasq.conf.j2 dest=/etc/dnsmasq.conf backup=yes
  tags: ['master', 'custom','rename']

- name: Copy dnsmasq-spoof.conf file
  template: src=dnsmasq-spoof.conf.j2 dest=/etc/dnsmasq-spoof.conf
  tags: ['master', 'custom','rename','update']

- name: Create a new interfaces file
  template: src=interfaces.j2 dest=/etc/network/interfaces backup=yes
  tags: ['master','rename']

- name: restart dsnmasq
  service: name=dnsmasq state=restarted
  tags: ['master', 'custom','rename']
