---
- name: check we can use /dev/net/tun
  stat: path=/dev/net/tun
  register: tundevice
  tags: ['custom','update']

- name: Sorry, tinc requires /dev/net/tun. Aborting.
  fail: msg="no /dev/net/tun device found."
  when: tundevice.stat.exists == false
  tags: ['custom','update']

- name: Generate new mac address
  shell: echo "{{ ansible_hostname }}"|md5sum|sed 's/^\(..\)\(..\)\(..\)\(..\)\(..\).*$/02:\1:\2:\3:\4:\5/' ; echo
  register: tinc_if_mac
  tags: ['custom','update','rename']


- debug: msg="{{ tinc_if_mac.stdout }}"
  tags: ['custom','update','rename']

- name: insert/update vpn_name2 configuration stanza in /etc/network/interfaces
  blockinfile:
    dest: /etc/network/interfaces
    block: |
      iface {{ vpn_name2 }} inet dhcp
        pre-up ifconfig {{ vpn_name2 }} down || true
        pre-up ifconfig {{ vpn_name2 }} hw ether {{ tinc_if_mac.stdout }} || true
        post-up route del default dev {{ vpn_name2 }} || true
  tags: ['custom','update','rename']

- name: build a hostname for tinc, which doesn't like hyphens
  set_fact: tinc_localhost_name="{{ ansible_hostname | replace("-", "_") }}"
  tags: ['custom','update','rename']

- name: Verify if tinc key file exist 
  stat: path=/etc/tinc/{{ vpn_name2 }}/hosts/{{tinc_localhost_name}}
  register: tinc_key_file
  tags: ['custom','update','rename']

- name: Check if the RSA key is present in tinc key file
  shell: grep -F 'RSA' /etc/tinc/{{ vpn_name2 }}/hosts/{{tinc_localhost_name}} ; echo
  register: rsa_in_key_file
  when: tinc_key_file.stat.exists == True
  tags: ['custom','update','rename']

- name: Remove empty public key file
  file: path=/etc/tinc/{{ vpn_name2 }}/hosts/{{tinc_localhost_name}} state=absent
  when: rsa_in_key_file is defined and rsa_in_key_file.stdout == "" 
  tags: ['custom','update','rename']

- name: Remove private key file
  file: path=/etc/tinc/{{ vpn_name2 }}/rsa_key.priv state=absent
  when: rsa_in_key_file is defined and rsa_in_key_file.stdout == "" 
  tags: ['custom','update','rename']

- name: install rsync
  apt: >
    name=rsync
    state=present
    cache_valid_time=3600
  tags: ['custom','update']

- name: install tinc
  apt: >
    name=tinc
    state=present
    cache_valid_time=3600
  tags: ['custom','update']

# iptables module appears in ansible 2.0
- name: Open tinc ports in firewall
  shell: for port in 655 656 ; do for proto in tcp udp ; do for chain in INPUT OUTPUT ; do iptables -A $chain -m $proto -p $proto --dport $port -j ACCEPT ; done ; done ; done
  tags: ['custom','update']

- name: ensure tinc vpn name directory exists
  file: >
    path=/etc/tinc/{{ vpn_name2 }}/hosts
    recurse=True
    state=directory
  tags: ['custom','update','rename']

- name: ensure tinc.conf exists for vpn name
  template: >
    src=tinc.conf.j2
    dest=/etc/tinc/{{ vpn_name2 }}/tinc.conf
  tags: ['custom','update','rename']

- name: add pubkeys for central nodes
  copy: src=hosts/{{ item }} dest=/etc/tinc/{{ vpn_name2 }}/hosts/{{ item }} mode=0750
  with_items:
     - tincmaster
     - tincmaster-up
     - tincmaster-down
  tags: ['custom','update']

- name: set default options for tinc
  template: >
    src=default.j2
    dest=/etc/default/tinc
  notify:
    - reload tinc
  tags: ['custom','update']

- name: create /etc/tinc/nets.boot file from template
  template: >
    src=nets.boot.j2
    dest=/etc/tinc/nets.boot
  notify:
    - restart tinc
  tags: ['custom','update']

- name: copy tinc private key from static conf
  shell: cp /etc/tinc/{{ vpn_name }}/rsa_key.priv /etc/tinc/{{ vpn_name2 }}/  
  args:
    creates: /etc/tinc/{{ vpn_name2 }}/rsa_key.priv
  tags: ['custom','update','rename']

- name: copy tinc public key from static conf
  shell: sed -n -e '/-----BEGIN RSA PUBLIC KEY-----/,$p' /etc/tinc/{{ vpn_name }}/hosts/{{tinc_localhost_name }} > /etc/tinc/{{ vpn_name2 }}/hosts/{{ tinc_localhost_name }}
  tags: ['custom','update','rename']

- name: create tinc-up file
  template: >
    src=tinc-up.j2
    dest=/etc/tinc/{{ vpn_name2 }}/tinc-up
    mode=0755
  notify:
    - reload tinc
    - Announce MAC
  tags: ['custom','update','rename']

- name: create tinc-down file
  template: >
    src=tinc-down.j2
    dest=/etc/tinc/{{ vpn_name2 }}/tinc-down
    mode=0755
  notify:
    - reload tinc
  tags: ['custom','update','rename']

- name: Make sure tinc logs are rotated
  copy: src=tinc.logrotate dest=/etc/logrotate.d/tinc mode=0644
  tags: ['custom','update']

- name: send the public key to central nodes
  shell: rsync /etc/tinc/{{ vpn_name2 }}/hosts/{{tinc_localhost_name }}  {{ central_server }}:/ansible/tinc-{{ vpn_name2 }}/
  tags: ['custom','update','rename']

