[Unit]
Description=Kalite server

[Service]
User=ideascube
Group=ideascube
ExecStart=/home/ideascube/.kalite/env/bin/python2 /home/ideascube/.kalite/env/share/kalite/kalitectl.py start
ExecStop=/home/ideascube/.kalite/env/bin/python2 /home/ideascube/.kalite/env/share/kalite/kalitectl.py stop
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
