[Unit]
Description=High-performance, schema-free document-oriented database
After=syslog.target network.target
 
[Service]
User=mongodb
ExecStart=/usr/bin/mongod --dbpath=/media/hdd/mongodb --logpath=/var/log/mongodb/mongodb.log --logappend
 
[Install]
WantedBy=multi-user.target