---
- name: Check if syncthing service is installed
  command: systemctl is-active syncthing
  register: syncthing_status
  failed_when: "'FAILED' in syncthing_status.stderr"

- include: enabled.yml
  when: (ansible_local.project.data.syncthing.activated | default(False)) |bool == True

- include: disabled.yml
  when: (ansible_local.project.data.syncthing.activated | default(False)) |bool == False
    and syncthing_status.stdout == "active"
