#!/bin/bash

OLD_PATH={{old_kiwix_path}}

apt-get install -y zip

cd $OLD_PATH
mkdir -p $OLD_PATH/packages/
mkdir -p /var/cache/ideascube/catalog/packages

find ./ -type f -regextype posix-extended -regex "^.*zim$|^.*zima{2}" -print0 | while IFS= read -r -d $'\0' i; do

        echo "[+] Create archive for $i"

        zim_file=`echo $i | cut -d "/" -f3`

        if [ -z "$zim_file" ]; then
                zim_file=`echo $i | cut -d "/" -f2`
        fi

        new_name=`echo $i | cut -d "/" -f3 | cut -d "_" -f1-2 | sed 's/_/./'`

        if [ -z "$new_name" ]; then
                new_name=`echo $i | cut -d "/" -f2 | cut -d "_" -f1-2 | sed 's/_/./'`
        fi

        folder_name=`echo $i | cut -d "/" -f3 | cut -d "_" -f1-2`
        nameWithDate=$new_name-0000-00-00

        if [ -n "$folder_name" ]; then
                index_folder_full_path=`find ./ -type d -name "$folder_name*"`
                index_folder=`find ./ -type d -name "$folder_name*" -printf '%f\n'`
        fi

        echo "$new_name" >> $OLD_PATH/list.txt

        mkdir -p $OLD_PATH/packages/$nameWithDate/data/{content,index,library}

        is_several_files=`echo "$i" | grep zimaa`

        if [ -n "$is_several_files" ]; then
                mv ${i%?}* $OLD_PATH/packages/$nameWithDate/data/content/
        else
                mv $i $OLD_PATH/packages/$nameWithDate/data/content/
        fi

        if [ -n "$index_folder_full_path" ]; then
                mv -r "$index_folder_full_path" $OLD_PATH/packages/$nameWithDate/data/index

                cd $OLD_PATH/packages/$nameWithDate/data/library/

                /usr/local/bin/kiwix-manage $zim_file.xml add ../content/$zim_file -i=../index/$index_folder         
        else
                cd $OLD_PATH/packages/$nameWithDate/data/library/

                /usr/local/bin/kiwix-manage $zim_file.xml add ../content/$zim_file
        fi 

        cd $OLD_PATH/packages/$nameWithDate/
        zip -r "$new_name-0000-00-00" data

        mv "$new_name-0000-00-00" /var/cache/ideascube/catalog/packages/$new_name-0000-00-00
        cd $OLD_PATH
done

rm -rf $OLD_PATH/packages