#!/bin/bash

OLD_PATH={{old_kiwix_path}}
NEW_PATH="/var/ideascube/kiwix/"

cd $OLD_PATH
mkdir -p $NEW_PATH/data/{content,index,library}
mkdir -p /var/ideascube/main/catalog/

find ./ -type f -regextype posix-extended -regex "^.*zim$|^.*zima{2}" -print0 | while IFS= read -r -d $'\0' i; do

        zim_file=`echo $i | cut -d "/" -f3`

        if [ -z "$zim_file" ]; then
                zim_file=`echo $i | cut -d "/" -f2`
        fi

        new_name=`echo $i | cut -d "/" -f3 | cut -d "_" -f1-2 | sed 's/_/./'`

        if [ -z "$new_name" ]; then
                new_name=`echo $i | cut -d "/" -f2 | cut -d "_" -f1-2 | sed 's/_/./'`
        fi
        
        echo "[+] Move $i"
        
        folder_name=`echo $i | cut -d "/" -f3 | cut -d "_" -f1-2`

        if [ -n "$folder_name" ]; then
                index_folder_full_path=`find ./ -type d -name "$folder_name*"`
                index_folder=`find ./ -type d -name "$folder_name*" -printf '%f\n'`
        fi

        is_several_files=`echo "$i" | grep zimaa`

        if [ -n "$is_several_files" ]; then
                mv ${i%?}* $NEW_PATH/data/content/$new_name
        else
                mv $i $NEW_PATH/data/content/$new_name
        fi

        if [ -n "$index_folder_full_path" ]; then
                mv -r "$index_folder_full_path" $NEW_PATH/data/index

                cd $NEW_PATH

                /usr/local/bin/kiwix-manage $NEW_PATH/library.xml add $NEW_PATH/data/content/$new_name -i=$NEW_PATH/data/index/$index_folder         
        else
                cd $NEW_PATH

                /usr/local/bin/kiwix-manage $NEW_PATH/library.xml add $NEW_PATH/data/content/$new_name
        fi 

        cat /var/cache/ideascube/catalog/catalog.yml | sed -n -e "/$new_name/,/version:/ p" >> /var/ideascube/main/catalog/installed.yml
        
        cd $OLD_PATH
done