interface={{hotspot_interface}}
dhcp-range=192.168.2.100,192.168.2.240,255.255.255.0,12h
{% if (ansible_local.device_list[generic_project_name] | default({})).external_antenna | default (False) %}
dhcp-range=192.168.3.100,192.168.3.240,255.255.255.0,12h
{% endif %}

address=/{{ hostname }}/{{ hotspot_ip }}
address=/{{ idc_uniq_device_name }}/{{ hotspot_ip }}
{% if (ansible_local.device_list[generic_project_name] | default({})).external_antenna | default (False) %}
address=/{{ hostname }}/{{ external_hotspot_ip }}
address=/{{ idc_uniq_device_name }}/{{ external_hotspot_ip }}
{% endif %}
server=8.8.8.8
server=8.8.4.4
no-hosts