auto lo
iface lo inet loopback

allow-hotplug {{lan_interface}}
iface {{lan_interface}} inet dhcp

allow-hotplug {{hotspot_interface}}
iface {{hotspot_interface}} inet static
hostapd /etc/hostapd/hostapd.conf
address {{ hotspotip }}
netmask 255.255.255.0
