---
- include_vars: group_vars/{{ ansible_architecture }}.yml

- set_fact: ideascube_branding="{{ ansible_local.device_list[generic_project_name].ideascube_branding }}"
  when: ansible_local.device_list[generic_project_name].ideascube_branding is defined

- debug: msg="Using branding {{ ideascube_branding }}"

- name: Ensure the branding directory exists
  file: path=/usr/share/ideascube/branding 
    state=directory 
    owner=root 
    group=root 
    mode=0755

- name: Install header-logo branding resources
  get_url: url={{ filer_bsf }}/branding/{{ ideascube_branding }}/header-logo.png 
    dest=/usr/share/ideascube/branding/header-logo.png
    owner=ideascube 
    group=ideascube 
    mode=0644
    force=yes

- name: Install favicon branding resources
  get_url: url={{ filer_bsf }}/branding/{{ ideascube_branding }}/favicon.png 
    dest=/usr/share/ideascube/branding/favicon.png
    owner=ideascube 
    group=ideascube 
    mode=0644
    force=yes
  ignore_errors: yes
