---
- include_vars: group_vars/{{ ansible_architecture }}.yml
  tags: ['master', 'custom']

- name: Include task nedeed when using an external hard drive
  include: ext_hdd.yml
  when: (ansible_architecture == "armhf" or ansible_architecture == "armv7l")
    and ansible_devices.sda.partitions.sda1 is defined

- name: Configure the ideascube package repository
  template: src=ideascube.list.j2 dest=/etc/apt/sources.list.d/ideascube.list owner=root group=root mode=644
  tags: ['master', 'custom', 'update']

- name: Install ideascube dependencies
  apt: name=python3-minimal state=present
  tags: ['master', 'update']

- name: Allow unauthenticated packages
  lineinfile: dest=/etc/apt/apt.conf.d/9999IDEASCUBEISABADBADBOY line='APT::Get::AllowUnauthenticated "true";' create=yes
  tags: ['master', 'custom', 'update']

- name: Install the ideascube package
  #apt: name=ideascube state=latest update_cache=yes
  apt: name=ideascube=0.12.2 update_cache=yes force=yes
  tags: ['master', 'custom', 'update']

- name: Remove the unauthenticated hack
  file: path=/etc/apt/apt.conf.d/9999IDEASCUBEISABADBADBOY state=absent
  tags: ['master', 'custom', 'update']

# Add settings and conf

- name: Remove old name 
  lineinfile: dest=/etc/default/ideascube
              regexp='IDEASCUBE_ID='
              line='IDEASCUBE_ID='
              state=absent
  tags:
    - rename

- name: Add IDEASCUBE_ID
  lineinfile: dest=/etc/default/ideascube
              regexp='^'
              line='IDEASCUBE_ID={{ ideascube_project_name }}'
              state=present
  notify: restart uwsgi
  tags: ['custom', 'update','rename']

- name: Remove linsting on 443 because the port is alredy used by sslh
  lineinfile: dest=/etc/nginx/sites-available/ideascube regexp='443' state=absent
  notify: restart nginx
  tags: ['master', 'custom', 'update']

- name: Create simLink
  file: src=/etc/uwsgi/apps-available/ideascube.ini dest=/etc/uwsgi/apps-enabled/ideascube.ini state=link
  tags: 
    - master

- name: Ensure that Ideascube folder belong the ideascube user 
  file: path=/var/ideascube/main/ owner={{ username }} group={{ username }} recurse=yes
  tags: 
    - update

- name: Get ideascube version
  shell: dpkg-query -W  ideascube  | awk '{print $2}' ; echo
  register: ideascube_newversion
  tags: ['master', 'custom', 'update']

- set_fact: ideascube_version="{{ ideascube_newversion.stdout }}"
  tags: ['master', 'custom', 'update']

- debug: msg="ideascube {{ ideascube_version }} is now the current version."
  tags: ['master', 'custom', 'update']